/* resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
} */

ul,
li,
ol {
  list-style: none;
}

/* variables */

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  --Very-dark-blue: hsl(234, 12%, 34%);
  --Grayish-blue: hsl(229, 6%, 66%);
  --Very-light-gray: hsl(0, 0%, 98%);
}

/* geral styles */

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--Very-light-gray);
}

/* header */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
}

#title-1 {
  font-size: calc(2.75rem + 1px);
  font-weight: 200;
  color: var(--Very-dark-blue);
}

#title-2 {
  font-size: 2.75rem;
  font-weight: 600;
  color: var(--Very-dark-blue);
}

#slogan {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--Very-dark-blue);
  text-align: center;
  margin-bottom: 60px;
}

/* cards */

#card-container {
  max-width: 1440px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 400px;
  height: 250px;
  padding: 30px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.card h2 {
  font-size: 1.5rem;
  color: var(--Very-dark-blue);
  margin-bottom: 15px;
}

.card p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75;
  color: var(--Grayish-blue);
}

.card:nth-child(1) {
  border-top: 5px solid var(--Cyan);
}

.card:nth-child(2) {
  border-top: 5px solid var(--Red);
}

.card:nth-child(3) {
  border-top: 5px solid var(--Blue);
}

.card:nth-child(4) {
  border-top: 5px solid var(--Orange);
}

.card:nth-child(1),
.card:nth-child(3) {
    transform: translateY(50%);
}

.card img {
  padding: 30px 0;
  float: right;
}

@media (max-width: 1260px) {
  .card:nth-child(1),
  .card:nth-child(3) {
    transform: translateY(0%);
  }
}

@media (max-width: 590px) {
  #title-1 {
    font-size: calc(2rem + 1px);
  }
  
  #title-2 {
    font-size: 2rem;
  }
  
  #slogan {
    font-size: .9rem;
    margin: 0 60px 30px 30px;
  }

  .card {
    margin: 0 30px;
  }
}

@media (max-width: 395px) {
  #title-1 {
    font-size: calc(1.75rem + 1px);
    text-align: center;
  }
  
  #title-2 {
    font-size: 1.75rem;
    text-align: center;
  }

  #slogan {
    margin: 0 40px 15px 15px;
  }

  .card h2 {
    font-size: 1.2rem;
    color: var(--Very-dark-blue);
    margin-bottom: 15px;
  }
  
  .card p {
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.75;
    color: var(--Grayish-blue);
  }
}

/* footer */

.attribution {
  text-align: center;
  margin: 0 30px;
}
